<div class="container form">
        <div class="row">
          <div class="col-6 offset-3">
            <form class="login-form">
              <h2  class="tittle" >Reset password</h2>
              <mat-form-field type="form-password" class="left element">
                <input type="email" matInput placeholder="Email">
              </mat-form-field>
              <button mat-raised-button class="buttonInForm element">Reset password</button>
              <button mat-button [routerLink]="['./login']" class="buttonInForm element">Back to log in page</button>
            </form>
          </div>
        </div>
      </div>
