.text{
    text-align: center;
    color: black;
}
.about{
    text-indent: 20px;
    text-align: center;
}
.left{
    float: left;
}
.right{
    float: right;
}
.person{
    height: 500px;
    width: 30%;
}
.about{
    text-align: left;
}
.image{
    margin-top: 30px;
    display: block;
    margin: 0 auto;
    height: 200px;
    width: 200px;
    border-radius: 100px; /* Радиус скругления */
    border: 1px solid rgb(18, 20, 18); /* Параметры рамки */
    box-shadow: 0 0 7px #666; 
}
.icon{
    width: 50px;
    height: 50px;
}
.upper{
    background-color: black;
    height: 100px;
}
h1{
    text-align: center;
    color: white;
}