<div class="page">
<div class="upper">
<h1> CREATED BY STUDENTS KN-411.</h1>
</div>
<div class="left person">
    <p class="text">Back-end</p>
    <img src="assets/images/Oleg.jpg" class="image">
    <p class="text">Kuts Oleh</p>
    <p class="about">Four years student at Lviv Polytechnical University. Institude computer science and information technologies. Back-and developer for this app.</p>
    <p class="about">Links for connect:some links</p></div>
<p></p>
<div class="right person">
    <p class="text">Front-end</p>
    <img src="assets/images/Dima.png" class="image">
    <p class="text">Chupa Valentyn</p>
    <p class="about">Four years student at Lviv Polytechnical University. Institude computer science and information technologies. Front-and developer for this app.</p>
    <p class="about">Links for connect:some links</p>
</div>
</div>