<div *ngFor="let parking of mocks">
  <a [routerLink]="['/parkings', parking.id]">
    <div class="mainPart">
      <div class="leftPart">
        <p>{{parking.name}}</p>
        <img src="assets/images/cat.jpg" class="image">
      </div>
      <div class="rightPart">
        <p>Adress : {{parking.adress}}</p>
        <p>Bicycles on parking : {{parking.bicycleCount}}</p>
        <p>Has terminal : {{parking.containsTerminal}}</p>
        <p>In building : {{parking.inBuilding}}</p>
        <p>Open time : {{parking.schedule}}</p>
      </div>
      <p class="line"></p>
    </div>
  </a>
</div>