.mainPart{
    margin: 0 20% 0 20%;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    height:30%;
    opacity:0.8;
}

a {
    color: black;
}

.mainPart:hover{
    opacity:1.0;
    background:#222929;
    color: #fff;
}

.leftPart{
    margin-left: 10%;
    float: left;
    margin-top: 5%;
    width: 50%;
}

.rightPart{
    margin-right: 10%;
    margin-top: 5%;
    display: inline-block;
}

.image{
    width: 70%; 
    max-height: 70%;
}

.line{
    border: 0.5px solid #a5adad;
    width: 100%;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
}

@media screen and (max-width: 600px) {
    .leftPart{
      width: 100%;
      margin-left: 5%;
    }
    
    .rightPart{
      width: 100%;
      margin-left: 5%;
    }
  
    .element{
      font-size: 0.7em;
    }
  }