<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div>
                <img class="image" src="assets/images/cat.jpg">
                <p class="line"></p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h2>Detailed information</h2>
            <p>Name : {{parking.name}}</p>
            <p>Adress : {{parking.adress}}</p>
            <p>Count of available bicycles on the parking : {{parking.bicycleCount}}</p>
            <p>Does parking contain terminal : {{parking.containsTerminal}}</p>
            <p>Is parking in building : {{parking.inBuilding}}</p>
            <p>Schedule : {{parking.schedule}}</p>
            <p class="line"></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 offset-md-5">
            <button class="btn-success button" mat-button [routerLink]="['./forgot']">Take a bike</button>
        </div>
        <p class="line"></p>
    </div>
</div>