.image{
    width: 100%;
}

.button{
    width: 100%;
    text-align: center;
}

.line{
    border: 0.5px solid #a5adad;
    width: 100%;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
}
