<div class="container form">
  <div class="row">
    <div class="col-6 offset-3">
      <form [formGroup]="form" class="login-form" (ngSubmit)="signUpService.signUp(form)">
        <h2 class="tittle">Sign in</h2>
        <mat-form-field type="form-password" class="left element">
          <input formControlName="firstName" type="text" matInput placeholder="First name">
        </mat-form-field>
        <mat-form-field type="form-password" class="right element">
          <input formControlName="lastName" type="text" matInput placeholder="Last Name">
        </mat-form-field>
        <mat-form-field type="form-password" class="left element">
          <input formControlName="email" type="email" matInput placeholder="Email">
        </mat-form-field>
        <mat-form-field type="form-password" class="right element">
          <input formControlName="dateOfBirth" type="date" matInput placeholder="Date of birth">
        </mat-form-field>
        <mat-form-field type="form-password" class="left element">
          <input formControlName="password" type="password" matInput placeholder="Password">
        </mat-form-field>
        <mat-form-field type="form-password" class="right element">
          <input formControlName="confirmPassword" type="password" matInput placeholder="Confirm password">
        </mat-form-field>
        <mat-form-field type="form-password" class="left element">
          <input formControlName="phoneNumber" type="text" matInput placeholder="Phone number">
        </mat-form-field>
        <mat-form-field type="form-password" class="right element">
          <input formControlName="city" type="city" matInput placeholder="City">
        </mat-form-field>
        <mat-radio-group formControlName="male" type="selectmale" aria-label="Select an option">
          <p>Choose your male:</p>
          <mat-radio-button value="0">Male</mat-radio-button>
          <mat-radio-button style="margin-left: 2%;" value="1">Female</mat-radio-button>
        </mat-radio-group>
        <button [disabled]="form.invalid" type="submit" mat-raised-button class="buttonInForm element">Sign In</button>
      </form>
    </div>
  </div>
</div>
