@media screen and (max-width: 1800px) {
    .left{
      width: 100%;
      float: left;
    }
    
    
  
    .tittle{
        text-align: center;
    }
  }
  
  @media screen and (max-width: 600px) {
    .left{
      width: 100%;
    }
    }
  
  .form{
    margin-top: 10%;
  }
  
  .element {
    margin-top: 5%;
  }
  .massage{
    width: 100%;
  }
  .button{
    width: 20%;
    float:right;  
}
  
  .buttonAdd{
    float: left;
  }