<div class="container form">
        <div class="row">
          <div class="col-6 offset-3">
            <form class="login-form">
              <h2  class="tittle" >Here you can write down your recomendation or problem.</h2>
                <mat-form-field class="example-full-width" class="massage">
                    <input matInput #message maxlength="256" placeholder="Support" >
                    <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
                </mat-form-field>
              <button mat-raised-button (click)="buttonAdd ()">Add file</button>
              <button mat-raised-button class="button Send">Send</button>
            </form>
          </div>
        </div>
      </div>
