<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">BicycleRentApp</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-label="Toggle navigation"
              [attr.aria-expanded]="isExpanded" (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse" [ngClass]="{ show: isExpanded }">
        <ul class="navbar-nav flex-grow">
          <li class="nav-item" style="cursor: pointer" routerLinkActive="selected-route">
            <a class="nav-link text-dark" [matMenuTriggerFor]="menu">Menu</a>
            <mat-menu #menu="matMenu">
              <a class="nav-link text-dark" mat-menu-item [routerLink]="['/info']">News</a>
              <a class="nav-link text-dark" mat-menu-item>Price</a>
              <a class="nav-link text-dark" mat-menu-item>About rent</a>
              <a class="nav-link text-dark" mat-menu-item>Sales</a>
              <a class="nav-link text-dark" mat-menu-item [routerLink]="['/parkings']">Parkings</a>
              <a class="nav-link text-dark" mat-menu-item>Support</a>
            </mat-menu>
          </li>
          <li class="nav-item" routerLinkActive="selected-route">
            <a *ngIf="!loginService.isAuthenticated" class="nav-link text-dark" [routerLink]="['/authentication/registration']">
              Sign
              In
            </a>
          </li>
          <li class="nav-item" routerLinkActive="selected-route">
            <a *ngIf="!loginService.isAuthenticated" class="nav-link text-dark" [routerLink]="['/authentication']">
              Log
              In
            </a>
          </li>
          <li class="nav-item" routerLinkActive="selected-route">
            <a *ngIf="loginService.isAuthenticated" class="nav-link text-dark" (click)="loginService.logOut()">Log Out</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
