@media screen and (max-width: 1800px) {
  .left{
    width: 48%;
    float: left;
  }
  
  .right{
    width: 48%;
    float: right;
  }
}

@media screen and (max-width: 600px) {
  .left{
    width: 100%;
  }
  
  .right{
    width: 100%;
  }

  .element{
    font-size: 0.7em;
  }
}

.tittle{
  text-align: center;
}

.form{
  margin-top: 10%;
}

.element {
  margin-top: 5%;
}

.buttonInForm{
  width: 100%;
}