<div class="container form">
  <div class="row">
    <div class="col-6 offset-3">
      <form [formGroup]="form" class="login-form" (ngSubmit)="loginService.login(form)">
        <h2 class="tittle" >Log In</h2>
        <mat-form-field type="form-password" class="left element">
          <input formControlName="email" type="email" matInput placeholder="Login">
        </mat-form-field>
        <mat-form-field type="form-password" class="right element">
          <input formControlName="password" type="password" matInput placeholder="Password">
        </mat-form-field>
        <button [disabled]="form.invalid" type="submit" mat-raised-button class="buttonInForm element">Log In</button>
        <button mat-button [routerLink]="['./forgot']" class="left element" >Forget password</button>
        <button mat-button [routerLink]="['./registration']" class="right element">Sign Up</button>
      </form>
    </div>
  </div>
</div>